.category-title-banner {
  background-color: $primary;

  .category-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 80px;
      height: 80px;
      object-fit: none;
    }
  }

  h1.h1 {
    color: white;
    font-weight: 700;
    @include font-size($display1-size);
    line-height: 1;
  }
}
