#category {
  .category-header-fullwidth {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 3rem;
    }
  }

  #left-column {
    // No tocamos márgenes ni bordes del contenedor de la rejilla

    .sidebar-wrapper {
      @include media-breakpoint-up(md) {
        border: 1px solid $secondary;
      }
      border-radius: $border-radius;
      background-color: #fff;
      padding: 0 0.8rem;
    }
  }
}
