.add-to-cart {
  color: white;
  background-color: $quaternary;
  display: block;
  text-transform: uppercase;
  font-size: 0.9375rem;
  border-radius: $rounded-pill;
  font-weight: bold;
  padding: 0.8em 3em;
}
