@use 'sass:map';

.product-flags {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  pointer-events: none;

  &__flag {
    width: fit-content;
    padding: map.get($spacers, 1) map.get($spacers, 2);
    margin-bottom: map.get($spacers, 2);
    font-size: $font-size-sm;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.35;
    color: #fff;
    pointer-events: auto;
    background: $primary;
    margin-left: map.get($spacers, 1);
    margin-top: map.get($spacers, 1);

    &--online-only {
      position: absolute;
      right: 0;
      z-index: 1;
      margin-top: 0;
    }

    &--discount-percentage,
    &--discount-amount,
    &--discount {
      background-color: rgba($quaternary, 0.08);
      font-size: small;
      font-weight: 500;
      color: $quaternary;
      border-radius: 50rem;
      padding: 0.5rem 1rem;
    }

    &--on-sale {
      order: -1;
      width: 100%;
      text-align: center;
      background: $secondary;
    }
  }
}
