@use 'sass:map';
/* HEADER STYLES */

.l-header {
  margin: 0 0 0;
}

.header-top {
  background: $white;
  border-bottom: 1px solid $border-color;

  &__row {
    flex-wrap: nowrap;
    align-items: center;
    @include media-breakpoint-up(md) {
      flex-wrap: wrap;
    }
  }

  &__link {
    display: block;
    padding: map.get($spacers, 1);
    color: $gray-700;
    text-decoration: none;
    border-radius: $border-radius;

    @include media-breakpoint-up(sm) {
      padding: map.get($spacers, 2);
    }

    @include hover-focus() {
      color: $black;
      text-decoration: none;
      background: $gray-100;
    }
  }

  &__icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: block; // O inline-block
    width: rem-calc(26px);
    height: rem-calc(26px);

    @include media-breakpoint-up(sm) {
      width: rem-calc(17px);
      height: rem-calc(17px);
    }

    &--user {
      background-image: url('../img/icons/icon-login.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--cart {
      background-image: url('../img/icons/icon-cart.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__badge {
    position: absolute;
    top: -0.5em;
    right: -0.2em;
    width: 2em;
    height: 2em;
    font-size: rem-calc(8px);
    font-weight: 700;
    line-height: 2em;
    color: $white;
    text-align: center;
    background: $primary;
    border-radius: 50%;
  }

  &__block {
    &--search {
      @include media-breakpoint-down(sm) {
        flex-grow: 0;
      }
    }
  }
}
