@use 'sass:map';

.search-form {
  position: relative;
  max-width: rem-calc(563px);
  margin: 0 auto;

  &__form-group {
    position: relative;
    @include media-breakpoint-up(md) {
      .search-result-open & {
        z-index: 101;
      }
    }
  }

  &__input {
    height: $search-input-height;
    padding: 0 10px 0 10px;
    line-height: $search-input-height;
    color: $primary;
    border-width: 2px;
    border-color: $primary;
    font-size: 12px;
    /*border-radius: 99em;*/

    &:focus {
      background: $gray-100;
      box-shadow: none;
    }

    &::placeholder {
      font-weight: 600;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 map.get($spacers, 3);
    line-height: 1;
    background-color: $primary;
    color: white;
    font-weight: 500;
  }
}

.search-modal {
  .modal-body {
    padding-top: rem-calc(40px);
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: rem-calc(7px) rem-calc(10px);
  }
}
