.product-features-grid {
  border: 1px solid $secondary;

  .feature-item {
    background-color: transparent;

    // MÓVIL (1 columna): Los elementos pares (2, 4, 6...) se pintan de verde
    &:nth-child(even) {
      background-color: $green-light;
    }

    // ESCRITORIO (a partir de md): Alterna por parejas (3 y 4 verde, 7 y 8 verde...)
    @include media-breakpoint-up(md) {
      &:nth-child(even) {
        background-color: transparent; // Anulamos la regla de móvil
      }

      &:nth-child(4n + 3),
      &:nth-child(4n + 4) {
        background-color: $green-light;
      }
    }
  }
}

.feature-label {
  @extend %label-uppercase;
}

.feature-value {
  font-size: 14px;
  font-weight: 400;
  color: $gray-900;
  margin-left: 1rem;
}
