.bg-green-light {
  background-color: $green-light;
}

.feature-label {
  @extend %label-uppercase;
}

.feature-value {
  font-size: 14px;
  font-weight: 400;
  color: $gray-900;
  margin-left: 1rem;
}
